.speech{
    font-family: Times, serif;
    font-size: medium;
    color: black;
}

.stage-direction{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: black;
}

.name{
    font-family: Helvetica Narrow, sans-serif;
    font-size: medium;
    color: black;
}

.stage-direction:hover{
    background-color: cornflowerblue;
    color: red;
}

.lucentio{
    color:seagreen
}

.hortensio{
    color: skyblue;
}

.bianca{
    color:tomato
}