.speech{
    font-family: Times, serif;
    font-size: medium;
    color: black;
}

.stage-direction{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: red;
}

.name{
    font-family: Helvetica Narrow, sans-serif;
    font-size: medium;
    color: black;
}

.stage-direction:hover{
    background-color: cornflowerblue;
    color: red;
}

.lucentio{
    color:seagreen
}

.hortensio{
    color: skyblue;
}

.bianca{
    color:tomato
}

table{
    color: seagreen;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-style: dashed;
    
}